{% extends 'base.html' %}

{% block content %}
    <h1>Редактирование записей</h1>

    <div class="row grid">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Предметы</h3>
                    <ul class="list-group">
                        {% for subj in subjects%}
                        {% if subj.name == active_sub %}
                        <form method="get" class="list-group">
                            <button type="submit" class="list-group-item active" name="sub_name" value="{{subj}}">{{subj}} класс</button>
                        </form>
                        {% else %}
                        <form method="get" class="list-group">
                            <button type="submit" class="list-group-item" name="sub_name" value="{{subj}}">{{subj}} класс</button>
                        </form>
                        {% endif %}
                        <hr>
                        {% empty %}
                        <h5 class="text-center">Вам пока не доступен ни один предмет</h5>
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center">Уроки</h3>
                    <ul class="list-group">
                        {% for lesson in lessons %}
                        <li class="list-group-item">{{lesson}}</li>
                        {% empty %}
                        <h5 class="text-center">Выберете предмет</h5>
                        {% endfor %}
                      </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}