{% extends 'base.html' %} {% block content %}
<h1>Главная страница</h1>
  <h2>Справочная информация:</h2>
    <hr>
    <p>Сайт находится на стадии разработки. <br>
    1. Файл с учениками для занесения в бд у меня. Нужен строго определенный файл, которые состоит из особых полей. <br>
    2. Нужно прописать правила для администратора/справку о работе с проектом.  <br>
    3. Нужны сноски для справочной информации у всех типов пользователей. Что за что отвечает. (отя надо бы дизайн сделать сначала нормальный)
    </p>
{% endblock content %}
