{% extends 'base.html' %}

{% block content %}
<div class="container"><hr>
    <h4>Урок<em>{{lessons.topic}}</em></h4>
    <small>{{lessons.data}}</small>
    {% if lessons.additionals %}
    <h5>Дополнительные материалы</h5>
    <p>{{lessons.additionals}}</p>
    {% endif %}
    <hr>
    <h5>Домашнее задание</h5>
    <p>{{lessons.home_work}}</p>
    {% if lessons.email%}
        <br>
        <h5>Присылайте дз на почту - 
        <a href="mailto:{{lessons.email}}">{{lessons.email}}</a></h5>
    {% endif %}
    {% if user.role == 'T'%}
    {% endif %}
</div>
{% endblock content %}