<nav class="navbar navbar-expand-lg bg-dark navbar-dark bg-dark">
    <div class="container-fluid">
      <div width="16" height="16" class="special-div"></div>
      <a class="navbar-brand text-bg-dark" href="#">Distance-Education-Platform</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-bg-dark" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-bg-dark" aria-current="page" href="#">Задания</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-bg-dark" href="#">Заявки</a>
          </li>
        </ul>
        <div class="navbar-nav">
          <a class="nav-link" aria-current="page" style="margin-right: 5px;">Username!</a>
          <div class="d-flex">
              <a class="btn btn-outline-secondary" href="#">Войти | Выйти</a>
          </div>
      </div>
      </div>
    </div>
  </nav>