{% extends 'base.html' %} {% block content %}
<div class="container">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h4>Файл с пользователями:</h4>
    <input
      class="form-control form-control"
      type="file"
      id="formFileSm"
      name="excel_file"
    />
    <br />
    <h4>Сохранить как:</h4>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Role"
        id="Role"
        value="S"
      />
      <label class="form-check-label" for="Role1"> Учеников </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="Role"
        id="Role"
        value="T"
      />
      <label class="form-check-label" for="Role2"> Учителей </label>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Загрузить</button>
  </form>
</div>
{% endblock content %}
