{% extends 'base.html' %}

{% block content %}
{% load static %}
<head>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap.css">
    <link rel="image" type="image/psd" href="{% static 'images/Sorting icons.psd' %}">
</head>
<body>
  <div class="container">
    <h1>Перевод учеников</h1>
    <form action="" method="post">
        {% csrf_token %}
        
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Имя</th>
                    <th>Фамилия</th>
                    <th>Отчество</th>
                    <th>Класс</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td><input type="checkbox" name="selected_students" value="{{ student.id }}"></td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.patronymic }}</td>
                    <td>{{ student.classes_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h4>Перевести всех учеников в:</h4>
        <div class="form-group">
          <select class="form-control" name="class_filter">
              {% for class in classes %}
              <option value="{{class.id}}">{{class}}</option>
              {% endfor %}
          </select>
      </div>
      <br>
        <!-- <div class="form-group">
            <select class="form-control" name="action">
                <option value="assign_class">Assign to Class</option>
                <option value="transfer_class">Transfer to Class</option>
            </select>
        </div> -->
        <button type="submit" class="btn btn-primary">Применить изменения</button>
    </form>
</div>
  <!-- Include Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap.js"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
  <script type="text/javascript">
      $(document).ready( function () {
          $('#myTable').DataTable();
          $("label select").addClass("form-select");
          $("label input").addClass("form-control");
      } );
  </script>
</body>
{% endblock content %}